.btn-admin-edit,.btn-admin-edit:hover, .btn-admin-edit:active {
    background-color: #ffffff !important;
    background: #ffffff !important;
    color: #418612 !important;
    font-weight: 600;
    display: block;
    width: auto;
    padding: 0px;
    margin: 20px auto;
}
.admin-menu-category {
    column-count: 4;
    padding-left: 0;
    margin-bottom: 0;
}
.admin-menu-category li {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 6px;
    padding: 0px 10px;
    margin: 0px 0px;
    width: 100%;
    justify-content: space-between;    
}
.btn-admin-primary {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secondary-font-regular);
    font-weight: 600;
    margin: 0px 0px 0px auto;
}